<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Password Reset</title>
  	<link rel="stylesheet" href="css/glyphicon.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  	<script src="https://kit.fontawesome.com/fe48c47a95.js" crossorigin="anonymous"></script>
  	<script src="js/jquery.js"></script>
  	<script src="js/bootstrap.js"></script>
    <style>
        .container {
          padding:20px;
          width:600px;
          font-family:arial;

        }
        h4{
        font-family:times new roman ;
        }




    </style>
</head>
    <body>
			  {% csrf_token %}
      <header style="background:url('h5.jpg');   height:1000px;">
        <br>
        <br>
        <br>
        <br>
        <br>

            <div class="container "  style="border: 2px solid #3366cc ; border-radius:20px; background-color:white;   ">

                <div class="NOTIFICATION">
                    <h2><b>NOTIFICATION:</b></h2>
                <h4>Password reset sent
                We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.

                If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.

              </h4>
                </div>




          </div>
    		</header>



    </body>
</html>
