<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Password Reset</title>
  	<link rel="stylesheet" href="css/glyphicon.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  	<script src="https://kit.fontawesome.com/fe48c47a95.js" crossorigin="anonymous"></script>
  	<script src="js/jquery.js"></script>
  	<script src="js/bootstrap.js"></script>
    <style>
        .container {
          padding:20px;
          width:600px;
          font-family:arial;

        }




    </style>
</head>
    <body>
			  {% csrf_token %}
      <header style="background:url('h5.jpg');   height:1000px;">
        <br>
        <br>
        <br>
        <br>
        <br>

            <div class="container "  style="border: 2px solid #3366cc ; border-radius:20px; background-color:white;   ">

              <h1>Successfully Updated your password</h1>


               {% if messages %}
                  {% for message in messages %}
                      <h2>{{message}}</h2>
                  {% endfor %}
                  {% endif %}



          </div>
    		</header>



    </body>
</html>
